# Specify filepatterns you want git to ignore.

# work directory
work/
video/
# npm/node.js directory
node_modules/
# dotenv file
.env
coverage
coverage.json
typechain
typechain-types
.vscode
.openzeppelin/
node_modules
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts


